django==1.8.19                 ; python_version < '3.6'
django==1.9.13                 ; python_version == '3.6'
django==1.10.8                 ; python_version == '3.7'
Django==1.11.23                ; python_version > '3.7'